@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*-- scss:defaults --*/
// -----------------------------------------------------------------------------
// Neutral colour palette (Bootstrap-style greys)
// Used for borders, backgrounds, tables, and UI elements
// -----------------------------------------------------------------------------
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #ddd !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

// -----------------------------------------------------------------------------
// Analysis colour palette
// Inspired by:
// - MetBrewer "Cross"
// - MetBrewer "Cassatt2"
// -----------------------------------------------------------------------------

$blue:    #122451 !default;
$indigo:  #90719f !default;
$purple:  #2d223c !default;
$pink:    #c969a1 !default;
$red:     #ce4441 !default;
$orange:  #eb7926 !default;
$yellow:  #ffbb44 !default;
$green:   #859b6c !default;
$teal:    #62929a !default;
$cyan:    #004f63 !default;

$primary:       $purple !default;
$secondary:     $white !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $orange !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-900 !default;

$monokai-bg: #2e3440;
$code-bg: #e9ecef; // Modify background of inline code

$font-family-sans-serif:      Noto Sans, sans-serif !default;
$font-family-serif:           Noto Sans, sans-serif !default;

$font-size-base:              1rem !default;
$headings-font-weight:        700 !default;


/*-- scss:rules --*/


// Stop ALL CAPS in table headers
thead th {
  text-transform: none;
}

div.sidebar-item-container .active {
  color: $red;
}

// Footer stuff
.nav-footer-left {
  text-align: left;
}

.nav-footer-right {
  text-align: right;
}

// Temporarily hide the middle div since it has unmodifiable GitHub links as of Quarto 1.3.something: https://github.com/quarto-dev/quarto-cli/issues/5283
.nav-footer-center {
  display: none;
}

.nav-footer-left {
  flex-grow: 3;
}
